{% extends "layout.html" %}
{% block content %}
{% if form %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ form.EmployeeName }}'s Projects</h2>
    </div>
  </div>
  {{ form.Employee }}
  {% for proj in form.Projects %}
    <article class="media content-section">
      <div class="media-body">
        <h2>
          {{ proj.label }}
	  <span>{{ proj }}</span>
        </h2>
      </div>
    </article>
  {% endfor %}
  {{ form.Submit }}
</form>
{% else %}
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ title }} is not working on any projects</h2>
    </div>
  </div>
{% endif %}
{% endblock content %}
