{% extends "layout.html" %}
{% block content %}
{% if form %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="media">
    <div class="media-body">
      <h1 class="account-heading">{{ title }}</h1>
    </div>
  </div>
  {{ form.Employee }}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Projects</legend>
  {% for proj in form.Projects %}
      <div class="form-group">
        {{ proj.label }}
	    <span>{{ proj }}</span>
      </div>
  {% endfor %}
  </fieldset>
  {{ form.Submit }}
</form>
{% else %}
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ title }} is not working on any projects</h2>
    </div>
  </div>
{% endif %}
{% endblock content %}
