{% extends "layout.html" %}
{% block content %}
{% if form %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">Employees working on {{ form.ProjectName }}</h2>
    </div>
  </div>
  {{ form.Project }}
  {% for emp in form.Employees %}
    <article class="media content-section">
      <div class="media-body">
        <h2>
          {{ emp.label }}
	  <span>{{ emp }}</span>
        </h2>
      </div>
    </article>
  {% endfor %}
  {{ form.Submit }}
</form>
{% else %}
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">Nobody is working on {{ ProjectName }}</h2>
    </div>
  </div>

{% endif %}
{% endblock content %}
