{% extends "layout.html" %}
{% block content %}
  <div class="media">
    <div class="media-body">
      <h1 class="account-heading"> {{ title }}</h1>
    </div>
  </div>
{% if form %}
<form method="POST" action="">
  {{ form.csrf_token }}
  {{ form.Project }}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Employees</legend>
  {% for emp in form.Employees %}
      <div class="form-group">
        {{ emp.label }}
	    <span>{{ emp }}</span>
      </div>
  {% endfor %}
  </fieldset>
  {{ form.Submit(class="btn btn-outline-info") }}
</form>
{% else %}
  <div class="media">
    <div class="media-body">
      Nobody is working on this project 
    </div>
  </div>

{% endif %}
{% endblock content %}
